.Location-container {
    /* background-image: url(mcdonalds.jpg); */
    background-size: 500px 300px;
    margin: 0 0 15px 0;
    /* padding: 120px 10px 15px 15px; */
    font-family: "Open Sans", sans-serif;
    color:white;
    text-align: left;
}

.locationName {
    font-size: 15px;
    font-weight: 600;
    margin: 3px 0;
}

.milesAway {
    font-size: 13px;
}

.pic {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    /* opacity: .7; */
    z-index: -1;
    filter:blur(1px) brightness(40%);
}

.overview-text {
    margin: -80px 0 38px 20px;
    position: relative;
    text-align: left;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    z-index: 10;
    opacity: 1;
    text-shadow: 5px 5px 5px black;
}

.LocationName {
    font-weight: 400;
}

.MilesAway {
    font-weight: 300;
    font-size: 16px;
}