.topBar {
    text-align:left;
    padding-left: 5vw;
    height: 15vh;
    background-color: #194483;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: lighter;

}
.topText {
    padding-top: 8vh;
}

.calendar {
    float: center;
    margin: 0 auto;

}

.container {
    margin-top:5vh;
}

.next{
    font-size: 20px;
    color: white;
    width: 200px;
    height:50px;
    background-color: #FFC85E;
    font-family: 'Open Sans', sans-serif;
    border-color: white;
    border-radius: 30px;
    box-shadow: none;
    text-decoration: none;
    border: 0;
}



.next:focus {
    outline:none;
}
